html {
    height: 100%;
}
body {
    font-family: "Chakra Petch", sans-serif;
    margin:0;
    height:100vh;
    background:
        radial-gradient(circle at 50%, rgba(0, 255, 221, 0.224), white 50%, rgb(211, 211, 211) 100%, rgb(1, 24, 27) 100%),
        repeating-linear-gradient(0.25turn, rgb(7, 255, 201) 2px, transparent 3px, transparent 20px),
        repeating-linear-gradient(0.5turn, rgb(7, 255, 201) 2px, transparent 3px, transparent 20px);
    }

body.dark {
    font-family: "Chakra Petch", sans-serif;
    margin:0;
    height:100vh;
    background:
        radial-gradient(circle at 50%, rgba(255, 115, 0, 0.224), rgb(1, 1, 1) 50%, rgb(0, 0, 0) 100%, rgb(220, 84, 0) 100%),
        repeating-linear-gradient(0.25turn, rgb(255, 119, 0) 2px, transparent 3px, transparent 20px),
        repeating-linear-gradient(0.5turn, rgb(255, 119, 0) 2px, transparent 3px, transparent 20px);
        background-color:black;

}


#feedback {
    height:40px;
    margin-top:10px;
    text-align:center;
}

.error {
    color:rgb(255, 0, 0);
}

main {
    width:100%;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    align-items: stretch;
    perspective: 100px;
}

header {
    margin-top:80px;
    width:100%;
}

#logo {
    text-align:center;
    margin: 0 auto;
}

#logo.dark {
    color:rgb(255, 140, 0);
    text-shadow: 1px 1px black;
}

@keyframes blinkappear{
    0% {
      opacity:0;
    }
    33% {
        opacity:1;
      }
    66% {
      opacity:0;
    }
    100% {
        opacity:1;
      }
  }

  @keyframes maximize{
    0% {
    opacity:0;
    }
    10% {
    opacity:1;
    }
    20% {
    opacity:0;
    padding:0px;
    }
    30% {
    opacity:1;
    }
    40% {
    padding:0px;
    height:0px;
    width:90vw;
    opacity:1;
    }
    40% {
    padding:5px;
    height:0px;
    width:80vw;
    opacity:1;
    }
    48% {
    padding:10px;
    width:222px;
    opacity:1;
    }
    100% {
    width:222px;
    height:380px;
    opacity:1;
    }
  }

h1 {
    opacity: 0;
    margin-bottom:0px;
    margin-top:0px;
    letter-spacing:7.75px;
    width:230px;
    display:inline;
    animation: blinkappear 0.125s forwards 0.5s;
}
h3 {
    opacity:0;
    border-color: black;
    border:dashed;
    border-top:1px;
    border-bottom:1px;
    border-left:none;
    border-right:none;
    font-size:8px;
    margin-bottom:0px;
    letter-spacing:10px;
    animation: blinkappear 0.125s forwards 1.5s;
}
h5 {
    opacity:0;
    margin-top:0px;
    font-size:10px;
    letter-spacing:5px;
    animation: blinkappear 0.125s forwards 0.75s;
}

#form {
    opacity:0;
    animation: blinkappear 0.125s forwards 2.5s;
}

#form.dark {
    opacity:0;
    animation: blinkappear 0.125s forwards 2.5s;
    background-color:black;
    border-color:rgb(255, 140, 0);
    color:rgb(255, 140, 0);
}

#form.dark:autofill {
    opacity:0;
    animation: blinkappear 0.125s forwards 2.5s;
    background-color:black;
    border-color:rgb(255, 140, 0);
    color:rgb(255, 140, 0);
}

#form.dark:-webkit-autofill {
    opacity:0;
    animation: blinkappear 0.125s forwards 2.5s;
    background-color:black;
    border-color:rgb(255, 140, 0);
    color:rgb(255, 140, 0);
}

#postbody.dark {
    color:rgb(255, 140, 0);
    background-color: black;
    border-color:rgb(255, 140, 0);
}

#form-container {
    opacity:0;
    height:0px;
    position:relative;
    border:solid;
    border-width:1px;
    padding:20px;
    font-size:10px;
    z-index:1;
    background-color:white;
    transition: box-shadow 0.5s;
    animation: maximize 0.5s forwards 2s;
}

#form-container:hover {
    box-shadow: 0px 0px 5px aquamarine;
}

#form-container.dark {
    opacity:0;
    height:0px;
    position:relative;
    border:solid;
    border-color:rgb(255, 140, 0);
    border-width:1px;
    padding:20px;
    font-size:10px;
    z-index:1;
    background-color:rgb(0, 0, 0);
    transition: box-shadow 0.5s;
    animation: maximize 0.5s forwards 2s;
}

#form-container.dark:hover {
    box-shadow: 0px 0px 5px rgb(255, 140, 0);
}


.bgboxcontainer {
    perspective: 200px;
    perspective-origin: 50% 50%;
}
.bgbox {
    visibility: hidden;
    transform: translate3d();
    border:solid 1px;
    color:aquamarine;
    /* color:rgb(255, 98, 0); */
    z-index:0;
    position:absolute;
    width:222px;
    height:420px;
    top:28.6%;
    left:39.65%;
    }

input {
    border-radius:0;
    background-color: white;
    border-top:solid 1px;
    border-right:solid 1px;
    border-left:solid 1px;
    border-bottom:solid 1px;
    margin-bottom:10px;
    width:96%;
    color:black;
    transition: box-shadow 0.5s;
}

input.dark {
    border-radius:0;
    background-color: rgb(0, 0, 0);
    border-top:solid 1px;
    border-right:solid 1px;
    border-left:solid 1px;
    border-bottom:solid 1px;
    margin-bottom:10px;
    width:96%;
    color:rgb(255, 140, 0);
    transition: box-shadow 0.5s;
}

input[type=text]:focus {
    outline:none;
    box-shadow: 0px 0px 5px aquamarine;
}

input.dark[type=text]:focus {
    outline:none;
    box-shadow: 0px 0px 5px rgb(255, 140, 0);
}

textarea {
    resize:none;
    width:96%;
    height:200px;
    transition: box-shadow 0.5s;
}

textarea:focus {
    outline:none;
    box-shadow: 0px 0px 5px aquamarine;
}

textarea.dark {
    resize:none;
    width:96%;
    height:200px;
    transition: box-shadow 0.5s;
}

textarea.dark:focus {
    outline:none;
    box-shadow: 0px 0px 5px rgb(255, 140, 0);
}

#submit {
    margin:0 auto;
    font-family: "Chakra Petch", sans-serif;
    width:99%;
}

#submit:hover {
    box-shadow: 0px 0px 5px aquamarine;
}

#submit.dark:hover {
    box-shadow: 0px 0px 5px rgb(255, 140, 0);
}