body {
    font-family: "Chakra Petch", sans-serif;
    margin:0;
    min-height:100vh;
    display:flex;
    flex-direction:column;
}

body.dark  {
    font-family: "Chakra Petch", sans-serif;
    margin:0;
    background-color: black;
    color:white;
    min-height:100vh;
    display:flex;
    flex-direction:column;
}


#feedback {
    height:40px;
}

main {
    width:100%;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    align-content: space-around;
}

article {
    margin-top:20px;
    border:solid 1px;
    width:90%;
    padding:10px;
    margin-left:20px;
    margin-right:20px;
}

.subject {
    margin-top:5px;
    background-color: black;
    color:white;
    font-size:30px;
    margin-bottom:5px;
    letter-spacing:3px;
    padding-left:20px;
    padding-right:20px;
    font-weight:600;
    line-height:32px;
}

.dark .subject {
    margin-top:5px;
    background-color: white;
    color:black;
    font-size:30px;
    margin-bottom:5px;
    letter-spacing:3px;
    padding-left:20px;
    padding-right:20px;
    font-weight:600;
}

.handle-date {
    font-size:12px;
    font-weight:600;
    letter-spacing:2px;
    padding-left:20px;
    margin-top:10px;
}

.post-content {
    margin-top:10px;
    border:solid 1px;
    padding-left:20px;
    padding-right:20px;
    margin-bottom:20px;
    padding-top:10px;
    padding-bottom:10px;
    word-wrap:break-word;
    overflow-wrap:break-word;
    line-height:26px;
}

header {
    display:flex;
    margin-top:0;
    width:100%;
    border-bottom:solid 1px;
}

nav {
    width:25%;
    max-width:100px;
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    justify-content:space-evenly;

}

#logo {
    text-align:center;
    margin: 0 auto;
}

#toggle-mode {
    font-size:10px;
    background-color: white;
}

#return {
    font-size:10px;
    background-color: white;
}

.dark #toggle-mode {
    font-size:10px;
    background-color: black;
    color:white;
    border:solid 1px white;
}

.dark #return {
    font-size:10px;
    background-color: black;
    color:white;
    border:solid 1px white;
}

h1 {
    margin-bottom:0px;
    margin-top:0px;
    letter-spacing: 7.75px;
}
h3 {
    border-color: black;
    border:dashed;
    border-top:1px;
    border-bottom:1px;
    border-left:none;
    border-right:none;
    font-size:8px;
    margin-bottom:0px;
    letter-spacing:10px;
}

h3.dark  {
    border-color: white;
    border:dashed;
    border-top:1px;
    border-bottom:1px;
    border-left:none;
    border-right:none;
    font-size:8px;
    margin-bottom:0px;
    letter-spacing:10px;
}

h5 {
    margin-top:0px;
    font-size:10px;
    letter-spacing:5px;
}

#form-container {
    border:solid;
    border-width:1px;
    padding:20px;
    font-size:10px;
}

.dark #form-container {
    border:solid white;
    border-width:1px;
    padding:20px;
    font-size:10px;
}

input {
    border:none;
    border-bottom:dashed 1px;
    margin-bottom:10px;
}

textarea {
    resize:none;
    width:96%;
    height:200px;
}

#submit {
    margin:0 auto;
    font-family: "Chakra Petch", sans-serif;
    width:99%;
    border-bottom:none;
}

footer {
    top:100%;
    margin-top:40px;
    background-color: black;
    color:white;
    text-align:center;
    padding:10px;
    margin-top:auto;
}

.dark footer {
    top:100%;
    margin-top:40px;
    background-color: white;
    color:black;
    text-align:center;
    padding:10px;
    margin-top:auto;
}

a {
    text-decoration:none;
    color:white;
}

a.dark {
    text-decoration:none;
    color:black;
}

@media screen and (min-width:768px) {
    article {
        width:40%;
    }
    
}

@media screen and (min-width:968px) {
    article {
        width:41%;
    }
    
}