body {
    font-family: "Chakra Petch", sans-serif;
    margin:0;
    min-height:100vh;
    display:flex;
    flex-direction:column;
    
}

body.dark  {
    font-family: "Chakra Petch", sans-serif;
    margin:0;
    color:rgb(255, 140, 0);
    min-height:100vh;
    display:flex;
    flex-direction:column;
    background-color: black;
}


#feedback {
    height:40px;
}

main {
    width:100%;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    align-content: space-around;
}

article {
    margin-top:10px;
    border:solid 1px;
    width:90%;
    padding:10px;
    margin-left:15px;
    margin-right:15px;
    box-shadow:10px 10px 0px 0px black;
    margin-bottom:20px;
}

.dark .holder {
    margin-top:10px;
    border:solid 1px;
    width:90%;
    padding:10px;
    margin-left:15px;
    margin-right:15px;
    box-shadow:10px 10px 0px 0px rgba(184, 92, 17, 0.339);
    margin-bottom:20px;
}

.subject {
    margin-top:5px;
    background-color: black;
    color:white;
    font-size:30px;
    margin-bottom:5px;
    letter-spacing:3px;
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:10px;
    font-weight:600;
    line-height:32px;
    border-width:5px;
    border-style:inset;
}

.dark .subject {
    margin-top:5px;
    background-color: rgb(0, 0, 0);
    color:rgb(255, 140, 0);
    font-size:30px;
    margin-bottom:5px;
    letter-spacing:3px;
    padding-left:20px;
    padding-right:20px;
    font-weight:600;
    border-color:rgb(0, 0, 0);
    border-top-color:rgb(184, 92, 17);
    border-left-color:rgb(222, 114, 25);
    border-right-color:rgb(208, 97, 23);
    border-bottom-color:rgb(197, 90, 19);
    padding-top:10px;
    padding-bottom:10px;
    border-width:5px;
    border-style:inset;
}

.handle-date {
    font-size:12px;
    font-weight:600;
    letter-spacing:2px;
    padding-left:20px;
    margin-top:10px;
}

.post-content {
    margin-top:10px;
    border:solid 1px;
    padding-left:20px;
    padding-right:20px;
    margin-bottom:20px;
    padding-top:10px;
    padding-bottom:10px;
    word-wrap:break-word;
    overflow-wrap:break-word;
    line-height:26px;
}

header {
    display:flex;
    margin-top:0;
    width:100%;
    border-bottom:solid 1px;
    background:
    radial-gradient(circle at 50%, rgba(255, 255, 255, 0.224), white 50%, rgb(255, 255, 255) 100%, rgb(255, 255, 255) 100%),
    repeating-linear-gradient(0.25turn, rgb(7, 255, 201) 2px, transparent 3px, transparent 20px),
    repeating-linear-gradient(0.5turn, rgb(7, 255, 201) 2px, transparent 3px, transparent 20px);
    background-color:white;
    margin-bottom:10px;
}

header.dark {
    display:flex;
    margin-top:0;
    width:100%;
    border-bottom:solid 1px;
    background:
    radial-gradient(circle at 50%, rgba(255, 115, 0, 0.224), rgb(1, 1, 1) 50%, rgb(0, 0, 0) 100%, rgb(220, 84, 0) 100%),
    repeating-linear-gradient(0.25turn, rgb(154, 72, 1) 2px, transparent 3px, transparent 20px),
    repeating-linear-gradient(0.5turn, rgb(154, 72, 1) 2px, transparent 3px, transparent 20px);
    background-color:black;    
}

nav {
    width:25%;
    max-width:100px;
    position:absolute;
    display:block;
    flex-wrap:wrap;
    flex-direction:column;
    align-self:center;
    justify-content: flex-end;
}

#logo {
    text-align:center;
    margin: 0 auto;
}

.dark #logo {
    text-shadow: 2px 2px black;
}

#toggle-mode {
    margin:5px;
    margin-left:15px;
    font-size:10px;
    background-color:white;
    width:100%;
}

#return {
    margin:5px;
    margin-left:15px;
    font-size:10px;
    background-color:white;
    width:100%;
}

.dark #toggle-mode {
    font-size:10px;
    background-color: black;
    color:rgb(255, 140, 0);
    border:solid 1px rgb(255, 140, 0);
}

.dark #return {
    font-size:10px;
    background-color: black;
    color:rgb(255, 140, 0);
    border:solid 1px rgb(255, 140, 0);
}

h1 {
    margin-bottom:0px;
    margin-top:0px;
    letter-spacing: 7.75px;
}
h3 {
    border-color: black;
    border:dashed;
    border-top:1px;
    border-bottom:1px;
    border-left:none;
    border-right:none;
    font-size:8px;
    margin-bottom:0px;
    letter-spacing:10px;
}

h3.dark  {
    border-color: rgb(255, 140, 0);
    border:dashed;
    border-top:1px;
    border-bottom:1px;
    border-left:none;
    border-right:none;
    font-size:8px;
    margin-bottom:0px;
    letter-spacing:10px;
}

h5 {
    margin-top:0px;
    font-size:10px;
    letter-spacing:5px;
}

#form-container {
    border:solid;
    border-width:1px;
    padding:20px;
    font-size:10px;
}

.dark #form-container {
    border:solid rgb(255, 140, 0);
    border-width:1px;
    padding:20px;
    font-size:10px;
}

input {
    border:none;
    border-bottom:dashed 1px;
    margin-bottom:10px;
}

textarea {
    resize:none;
    width:96%;
    height:200px;
}

#submit {
    margin:0 auto;
    font-family: "Chakra Petch", sans-serif;
    width:99%;
    border-bottom:none;
}

footer {
    top:100%;
    margin-top:40px;
    background-color: black;
    color:white;
    text-align:center;
    padding:10px;
    margin-top:auto;
}

.dark footer {
    top:100%;
    margin-top:40px;
    background-color:black;
    color:rgb(255, 140, 0);
    text-align:center;
    padding:10px;
    margin-top:auto;
    border:solid 1px;
    border-color:rgb(255, 140, 0);
    border-right:none;
    border-left:none;
    border-bottom:none;
}

a {
    text-decoration:none;
    color:white;
}

a.dark {
    text-decoration:none;
    color:rgb(255, 140, 0);
}

@media screen and (min-width:768px) {
    article {
        width:40%;
    }

    .dark .holder {
        margin-top:10px;
        border:solid 1px;
        width:40%;
        padding:10px;
        margin-left:15px;
        margin-right:15px;
        box-shadow:10px 10px 0px 0px rgba(184, 92, 17, 0.339);
        margin-bottom:20px;
    }
    
}

@media screen and (min-width:968px) {
    article {
        width:41%;
    }

    .dark .holder {
        margin-top:10px;
        border:solid 1px;
        width:41%;
        padding:10px;
        margin-left:15px;
        margin-right:15px;
        box-shadow:10px 10px 0px 0px rgba(184, 92, 17, 0.339);
        margin-bottom:20px;
    }
    
}